<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="app.component.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Samuel Bertoni</title>
</head>

<body>
  <header>
    <h1>Samuel Bertoni Santos</h1>
  </header>

  <section class="education">
    <h2>Educação</h2>
    <h3>Nome da Instituição - Curso</h3>
    <p>Ano de conclusão: 20XX</p>
  </section>

  <section class="experience">
    <h2>Experiência Profissional</h2>
    <h3>Nome da Empresa - Cargo</h3>
    <p>Descrição breve das responsabilidades e realizações.</p>
  </section>

  <section class="skills">
    <h2>Habilidades Técnicas</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Outras habilidades...</li>
    </ul>
  </section>

  <footer>
    <p>Contato: muka.bertoni@gmail.com</p>
    <p>LinkedIn: </p>
    <p>Github: github.com/MukaDeveloper</p>
  </footer>
</body>

</html>