<!DOCTYpE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="app.component.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Samuel Bertoni</title>
</head>

<body>
  <img src="../assets/imgs/background2.jpg" alt="" id="background">
  <header class="header">
    <h1 class="title">Samuel Bertoni Santos</h1>
  </header>
  <main class="main">
    <div class="left">
      <section class="education">
        <h2>Educação</h2>
        <h3>ETEC prof. Horácio Augusto da Silveira</h3>
        <h4>Desenvolvimento de Sistemas</h4>
        <p>Ano de conclusão: 2025</p>
      </section>
      <br> <br>
      <section class="experience">
        <h2>Experiência profissional</h2>
        <h3>Atual: Estágio em Desenvolvimento na empresa Arcnet</h3>
        <p>Manutenções no aplicativo ao nível de código, assim como desenvolvimento</p>
      </section>
      <br> <br>
      <section class="skills">
        <h2>Hobbies</h2>
        <ul>
          <li>Desenvolvedor web - Backend</li>
          <li>Tocar violão</li>
          <li>Encher o saco da irmã caçula</li>
          <li>Jogar</li>
          <li>Ler livros</li>
        </ul>
      </section>
      <br> <br>
    </div>
    <div class="right">
      <img src="../assets/imgs/EU.jpeg" height="500" width="500" alt="" class="eu">
    </div>
  </main>
  <footer>
    <span>Contato: muka.bertoni&#64;gmail.com</span> <br>
    <span>LinkedIn: <a href="https://br.linkedin.com/in/samuel-bertoni-santos-b467b1276">Samuel Bertoni</a></span> <br>
    <span>Github: <a href="https://github.com/MukaDeveloper">MukaDeveloper</a></span> <br>
  </footer>
</body>

</html>
