body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #303030ee;
    background-color: #cce6ff;
}

header {  
    color: #000000;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
}

h1, h2, h3 {
    color: #000000;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #202122;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}